.container {
    display: flex;
    height: 100vh;
}

.login {
    position: absolute;
    /* Allows for positioning using top and left */
    top: 0;
    /* Y position */
    left: 150px;
    /* X position */
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 48px; */

    height: 566px;
    width: 350px;
}
.custom-link{
    color: #75C043;
    transition: color 0.3s ease;
}
.custom-link:hover {
    color: #5a9d2f; /* Darker shade on hover */
  }
.labels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
}

.wlc-Text {
    top: 0;
    left: 0;
    color: var(--Grey-80, #383838);
    /* Body / 2 - Normal */
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 24px; */
    text-align: left;
}

.login-text {
    color: var(--Relia-Energy-Black, #272525);
    font-family: Nunito;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    margin-top: 0;
}
/* .login-section{
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 1);
} */

.login-section,
.image-section {
    flex: 1;
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items: center;
    
}
.image-section2{
    flex: 1;
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items: center;
    background-image: url('../assets/lounge.png');
    background-size: cover;
    background-position: center;
   mask-repeat: no-repeat;
}

.login-section {
    background-color: #f8f9fa;
}

.image-section {
    background-image: url('../assets/wlv.png');
    background-size: cover;
    background-position: center;
   mask-repeat: no-repeat;
}

.logo {
    background-image: url('../assets/logo.png');
    display: flex;
    width: 215.823px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

form {
    width: 350px;
    height: 160px;
    display: flex;
    width: 350px;
    /* line-height: 24px; */
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.form-contents{
    width: 330px;
    height: 200px;
    text-align: left;
}
input {
    border-radius: 10px;
    border: 1px solid var(--Grey-40, #D0D0D0);
    width: 350px;
    height: 50px;
    flex-shrink: 0;
}

label {
    color: var(--Grey-100, #121212);
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--Grey-100, #121212);
    text-align: left;
}
.remember{
    width: 24px;
height: 24px;
}

.sub-btn {
    margin-top: 20px;
    display: flex;
    width: 350px;
    height: 50px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0;
    color: #FFF;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border-radius: 10px;
    background: var(--Linear, linear-gradient(135deg, #75C043 0%, #64B730 100%));
}
.send-btn{
    top: 0;
    bottom: 130px;
    display: flex;
    width: 350px;
    height: 50px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0;
    color: #FFF;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    border-radius: 10px;
    background: var(--Linear, linear-gradient(135deg, #75C043 0%, #64B730 100%));
}

.remember-forgot-container {
    width: 350px;
    height: 16px;
    margin: auto;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.checkbox-remember {
    display: flex;
    align-items: center;
}

.checkbox-remember input {
    margin-right: 5px;
}

.forgot-password {
    font-family: Nunito, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    background: linear-gradient(135deg, #75C043 0%, #64B730 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.is-invalid {
    border-color: red;
}

.is-invalid+div {
    color: red;
}